{#
/**
 * @file
 *  Default theme implementation for a recipe detail page.
 *
 * Available variables:
 * - recipe_data: Array of recipe data
 *
 * @ingroup themeable
 */
#}
<ul>
  {% if recipe_data.title %}
    <li><strong>Title</strong> : {{ recipe_data.title }}</li>
  {% endif %}
  {% if recipe_data.description %}
    <li><strong>Description</strong> : {{ recipe_data.description }}</li>
  {% endif %}
  {% if recipe_data.instructions %}
    <li><strong>Instructions</strong> : {{ recipe_data.instructions }}</li>
  {% endif %}
  {% if recipe_data.ingredients %}
    <li><strong>Ingredeints</strong> : {{ recipe_data.ingredients }}</li>
  {% endif %}
  {% if recipe_data.author_name %}
    <li><strong>Author</strong> : {{ recipe_data.author_name }}</li>
  {% endif %}
  {% if recipe_data.author_email %}
    <li><strong>Author's emailId</strong> : {{ recipe_data.author_email }}</li>
  {% endif %}
  {% if recipe_data.timestamp %}
    <li><strong>Submitted On</strong> : {{ recipe_data.timestamp }}</li>
  {% endif %}
</ul>

